
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



/*

@media screen and (min-width:1281px) and (max-width:1400px) {

    body{
    background-color: purple;
    text-align: center;
}
.imagenes{
    width: 800px;
    height:auto;
    top:20px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 30px red;
    margin-top:20px;
    z-index: 1;
    position:relative;

}
.panel-botones1{
    
    z-index: 2;
    top:250px;
    bottom:485px;
    right:500px;
    left:380px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    
    
    position: absolute;
}
.panel-botones2{
    
    z-index: 2;
    top:250px;
    bottom:485px;
    right:500px;
    left:760px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;;
}

.panel-botonesCl{
    
    z-index: 2;
    top:440px;
    bottom:auto;
    right:250px;
    left:475px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

.panel-botonesFr{
    
    z-index: 2;
    top:432px;
    bottom:485px;
    right:500px;
    left:580px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

.panel-botonesAc{


    z-index: 2;
    top:430px;
    bottom:485px;
    right:500px;
    left:650px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;

}



.panel-botonesEst{
    
    z-index: 2;
    top:70px;
    bottom:485px;
    right:500px;
    left:580px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

.panel-botonesFrm{
    
    z-index: 2;
    top:480px;
    bottom:185px;
    right:500px;
    left:780px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

.panel-botonesEnc{
    
    z-index: 2;
    top:370px;
    bottom:185px;
    right:500px;
    left:715px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

.panel-cambios1{
    
    z-index: 3;
    top:300px;
    bottom:185px;
    right:500px;
    left:845px;
    border:2px dashed black;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}
.panel-cambios2{
    
    z-index: 3;
    top:360px;
    bottom:185px;
    right:500px;
    border:2px dashed black;
    left:900px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    position: absolute;
}

label{
    color:white;
    font-weight: bold;
}
.botones{
    font-weight: bold;
    color:white;
}
.consola{
    
        width: 800px;
        height: auto;
        border-radius: 5px 5px 5px 5px;
        color:RGB(0, 255, 65);
        background:linear-gradient(40deg,'#212121', '#424242');
        font-weight: bold;
        position: absolute;
        left:310px;
        
        box-shadow: 0px 0px 30px rgba(54, 52, 52, 0.9) inset;
    
}

#parrafo{
        font-size:20px;
        text-align:justify;
        font-family:'Sanserif';
}

.panel-botonesDir{
    z-index: 2;
    top:150px;
    bottom:485px;
    right:500px;
    left:420px;
    width: fit-content;
    background-color:none;
    height:fit-content;
    
    
    position: absolute;
}


}
@media query and (min-width:800px) and (max-width:1280px){
    
    body{
        background-color: purple;
        text-align: center;
    }
    .imagenes{
        width: 800px;
        height:auto;
        top:20px;
    
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 0px 30px red;
        margin-top:20px;
        z-index: 1;
        position:relative;
    
    }
    .panel-botonesDir{
        z-index: 2;
        top:150px;
        bottom:485px;
        right:500px;
        left:420px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    #parrafo{
        font-size:20px;
        text-align:justify;
        font-family:'Sanserif';
    }

    .panel-botones1{
        
        z-index: 2;
        top:250px;
        bottom:485px;
        right:500px;
        left:375px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        
        
        position: absolute;;
    }
    .panel-botones2{
        
        z-index: 2;
        top:250px;
        bottom:485px;
        right:500px;
        left:740px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;;
    }
    
    .panel-botonesCl{
        
        z-index: 2;
        top:440px;
        bottom:auto;
        right:250px;
        left:465px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    .panel-botonesFr{
        
        z-index: 2;
        top:432px;
        bottom:485px;
        right:500px;
        left:560px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    .panel-botonesAc{
    
    
        z-index: 2;
        top:430px;
        bottom:485px;
        right:500px;
        left:630px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    
    }
    
    
    
    .panel-botonesEst{
        
        z-index: 2;
        top:70px;
        bottom:485px;
        right:500px;
        left:560px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    .panel-botonesFrm{
        
        z-index: 2;
        top:480px;
        bottom:185px;
        right:500px;
        left:780px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    .panel-botonesEnc{
        
        z-index: 2;
        top:370px;
        bottom:185px;
        right:500px;
        left:715px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    .panel-cambios1{
        
        z-index: 3;
        top: 300px;
        bottom:185px;
        right:500px;
        left:845px;
        border:2px dashed black;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    .panel-cambios2{
        
        z-index: 3;
        top:360px;
        bottom:185px;
        right:500px;
        border:2px dashed black;
        left:900px;
        width: fit-content;
        background-color:none;
        height:fit-content;
        position: absolute;
    }
    
    label{
        color:white;
        font-weight: bold;
    }

    .botones{
        font-weight: bold;
        color:white;
    }

    .consola{
        width: 800px;
        height: auto;
        border-radius: 5px 5px 5px 5px;
        color:RGB(0, 255, 65);
        background:linear-gradient(40deg,rgb(25,120,48), rgb(200,20,50));
        font-weight: bold;
        font-size:20px;
        text-align:justify;
        font-family:'monospace';
        box-shadow: 0px 0px 30px rgba(54, 52, 52, 0.9) inset;
    }
}

*/