<form method="POST" action="/signup">
    <input type="email" name="txtUsername" placeholder="ingrese su usuario" required>
    <input type="password" name="txtPassword" placeholder="ingrese su contraseña" required>
    <a href="#">olvido su contrase&ntilde;a</a>
    <button type="submit">iniciar sesi&oacute;n </button>
    <button>registrese aqui</button>
</form>